################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/bin/Debug/netcoreapp3.1
/obj
/Program.cs
/MinimalSetup.csproj
